body{
    margin: 0px;
    padding: 0px;
}

.s1{
    background-image: url(img/coding.jpg);
    background-size: cover;

}

.btn{
    display: flex;
    margin: 0px auto !important;
}

.name{
    font-size: 4rem;
    color: white;
}

.block{
    display: table;
    margin: 0 auto;
}


#icons{
    list-style-type: none;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    padding: 0px;
}

hr{
    height: 2px;
    background-color: white;
}

.icon{
    margin: 0px 2rem;
    color: white;
}

.fab{
    font-size: 3rem;
}

span{
    background-color: white !important;
}

.project-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 10px;
    justify-content: center;
    max-width: 1300px;
    margin: 10px;

}

.card{
    height: 200px;
    width: 400px;
    background-color: red;
    position: relative;
}

.card-caption{
    position: absolute;
    bottom: 0;
    align-self: center;
    margin-bottom: 10px;
}


.title{
    text-align: center;
}