---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
const meta = {
	title: "About me",
	description: "Introducing myself",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hello! My name is Danijel. I am a 18 year old Developer/Entropenuer from
			Slovenia. I started my development path at the age of 12. With Python,
			HTML & CSS. I also dabble in some graphic design.
		</p>
		<p>
			I am still studying computer science. I'm in my 4th year of Computer
			Science secondary school. In school we worked with a variety of tools such
			as:
		</p>
		<ul class="list-disc list-inside">
			<li>Python + Libraries(Pygame, Tensorflow, OpenCV)</li>
			<li>Java & Kotlin</li>
			<li>Php (Sadly)</li>
			<li>Sql</li>
			<li>Adobe CC</li>
			<li>GNU Linux</li>
			<li>C for Embedded</li>
		</ul>
		<p>
			Recently in March of 2022 i have Co-founded our startup Škrinca. Our
			product is The Wafer. What is it? It is a Multitool in the shape of a
			Neapolitan wafer. It features a Bluetooth tracker, USB flash drive,
			screwdriver, file, bottle opener. What does it look like? I'll show you
			our very first prototype.
		</p>
		<div class="grid justify-center my-4">
			<Image
				src="https://katapult.si/wp-content/uploads/2022/05/skrinca-dijaki-in-katapult-6.jpg"
				alt="A cartoon cactus looking at 'Astro.build' logo"
				height={300}
				width={600}
			/>
		</div>
	</div>
</PageLayout>
