---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/util";
import type { Post } from "@/types";

const meta = {
	title: "Danijel Tomić",
	description: "Young Developer/Entrepreneur based in Slovenia.",
};

const MAX_POSTS = 10;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">Hello World!</h1>
		<p class="mb-4">
			Hi my name is Danijel. I am a young Developer/Entropenuer from Slovenia. I
			am currently working at my startup <a
				href="https://www.skrinca.com"
				target="_blank"
				class="inline-block cactus-link"
				>Škrinca
			</a>.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="mb-4 text-xl title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="[&_q]:w-full flex flex-wrap items-center gap-x-2">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="mb-4 text-xl title">Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://www.skrinca.com/"
					target="_blank"
					class="inline-block cactus-link"
					>Škrinca
				</a>:
				<p class="inline-block sm:mt-2">
					A 21st century multitool the shape of a Wafer.
				</p>
			</li>
			<li>
				<a
					href="https://www.spalko.si"
					target="_blank"
					class="inline-block cactus-link"
					>Spalko.si
				</a>:
				<p class="inline-block sm:mt-2">
					A website that makes young people aware of the importance of sleep.
				</p>
			</li>
			<li>
				<a
					href="https://www.youtube.com/watch?v=E3qiH28ksBw"
					target="_blank"
					class="inline-block cactus-link"
					>NAO Rock Paper Scissors
				</a>:
				<p class="inline-block sm:mt-2">
					Program that allows RPS through computer vision.
				</p>
			</li>
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="mb-4 text-xl title">Technologies I like to use</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://astro.build"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Astro
				</a>:
				<p class="inline-block sm:mt-2">Build fast websites, faster.</p>
			</li>
			<li>
				<a
					href="https://tailwindcss.com/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Tailwind CSS
				</a>:
				<p class="inline-block sm:mt-2">
					Rapidly build modern websites without ever leaving your HTML.
				</p>
			</li>
			<li>
				<a
					href="https://flutter.dev"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Flutter
				</a>:
				<p class="inline-block sm:mt-2">Build cross-platform apps.</p>
			</li>
			<li>
				<a
					href="https://nextjs.org"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Next.js
				</a>:
				<p class="inline-block sm:mt-2">
					Build really cool websites that can scale.
				</p>
			</li>
		</ul>
	</section>
</PageLayout>
